<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stxy.ywz.mapper.OtherMapper">
<!-- 查找所有可用招聘信息 -->
 <select id="queryAllRecname" parameterType="stxy.ywz.bean.SeeRecord" resultType="stxy.ywz.bean.Recruit">
    SELECT * FROM recruit WHERE rstate=0 limit #{page.startPos},#{page.pageSize}<!--startPos开始页 ， pageSize每页显示的记录条数--> 
    </select>
    <select id="getCount" resultType="int">
        select count(*) from recruit where rstate=0
    </select>
    
    <!-- 模糊搜索分页 -->
    <select id="queryRecname"  resultType="stxy.ywz.bean.Recruit">
    SELECT * FROM recruit WHERE recname like "%"#{0}"%"and rstate=0 limit #{1},#{2}<!--startPos开始页 ， pageSize每页显示的记录条数--> 
    </select>
    <select id="getsearchCount" resultType="int">
        select count(*) from recruit where recname like "%"#{recname}"%" and rstate=0
    </select>
    
    
</mapper>